img{
	height: 30px;
	width: 30px;
}
canvas{
		max-height: 100% !important;
		max-width: 100% !important;
	}

@media (max-width: 320px) {
	.menu { 
		width:calc(200% - 15px); 
		font-size: 12px;
	}

	canvas{
		max-height: 100% !important;
		max-width: 100% !important;
	}

}
